.bookcon {
    padding: 1rem;
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 1rem;
    align-content: center;
    /*justify-content: center;*/
}

.bookcard {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    padding: 1rem;
    margin:5%;
    border-radius: 6px;
    background-color: #B7B1F2;
    width:50%;
    min-width: 300px;
    min-height: 400px;
    max-width: 300px;
    max-height: 400px;
}

.bookcard:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.image-container{
    border-radius: 2%;
    border: 1px solid #000000;
    width: 200px;
    height: 300px;
    min-width: 200px;
    max-width:300px;
    min-height:200px;
    max-height:300px;
    align-items: center;
    justify-content: center;
}

.image-container img{
    border-radius: 2%;
    border: 1px solid #000000;
    min-width: 200px;
    max-width:300px;
    min-height:200px;
    max-height:300px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.image {
    width: 200px;
    height: 300px;
    min-width: 200px;
    max-width:300px;
    min-height:200px;
    max-height:300px;
    align-items: center;
    justify-content: center;
}

