.container{
    padding: 2%;
    min-height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #FDB7EA;
    outline: none;
    border-radius: 10px;
    border-width: 1px;
    border-color:black;
    
}