.container{
    padding: 2%;
    min-height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #FDB7EA;
    outline: none;
    border-radius: 10px;
    border-width: 1px;
    border-color:black;
    
}

.books-list {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.search-bar {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
}